body{
    font-family: "Lato Extended", Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.star{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100px;
    width: 100px;
    margin-top: 40px;
}
ul li{
    list-style: none;
    display: inline;
    padding: 20px;
}
.ordernow{
    background-color: #E5E5E5;
}
#street{
    color: #6BB946;
}
#food{
    color: #E6AF51;
}
.subheading{
    font-weight: 800;
}
.eattogether{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 120px;
    text-align: center;
}
.eattogether >.eattext >h2{
    color: #E8AF51;
}
.exploremenu >.head{
    text-align: center;
}
.exploremenu{
    background-color: #C9ECB5;
    display: flex;
    flex-direction: row;
}
.exploremenu >img{
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: row;
}
.heading >p{
    width: 600px;
}
.heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.exploremenu >.burgermenu{
    height: 300px;
    width: 300px;
}
#ordernow{
    text-align: right;
    padding: 10px;
    background-color: #6BB946;
    border-radius: 25px;
    width: 100px;
}
.semicircle{
    border: none;
    width: 800px;
    height: 800px;
    border-radius: 50%;
    background-color: #6BB946;
    margin-top: -590px;
    margin-left: 100px;
    overflow: visible;
    opacity: 0.5;
}
.eclipse{
    margin-top: 400px;
}
.eattext{
    width: 800px;
}
.hotdeals{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #C9ECB5;
    margin-top: 30px;
}
.hotdeals >p{
    padding-top: 200px;
    font-size: larger;
}
h3{
    font-size: 20px;
    text-align: center;
}
#deals{
    color: #6BB946;
}
.dealbuerger{
    margin-top: -200px;
}