body{
    font-family: "Lato Extended", Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.star{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100px;
    width: 100px;
    margin-top: 40px;
}
ul li{
    list-style: none;
    display: inline;
    padding: 20px;
}
.ordernow{
    background-color: #E5E5E5;
}
#street{
    color: #6BB946;
}
#food{
    color: #E6AF51;
}
.subheading{
    font-weight: 800;
}
.eattogether{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 120px;
    text-align: center;
}
.eattogether >.eattext >h2{
    color: #E8AF51;
}
.exploremenu >.head{
    text-align: center;
}
.exploremenu{
    background-color: #C9ECB5;
    display: flex;
    flex-direction: row;
}
.exploremenu >img{
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: row;
}
.heading >p{
    width: 600px;
}
.heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.exploremenu >.burgermenu{
    height: 300px;
    width: 300px;
}
#ordernow{
    text-align: center;
    padding: 10px;
    background-color: #6BB946;
    border-radius: 25px;
    width: 100px;
    border: none;
}
.semicircle{
    border: none;
    width: 900px;
    height: 900px;
    border-radius: 50%;
    background-color: #6BB946;
    margin-top: -700px;
    margin-right: -150px;
    margin-left: 300px;
    overflow: visible;
    opacity: 0.6;
}
.eclipse{
    margin-top: 600px;
}
.eattext{
    width: 800px;
}
.hotdeals{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #C9ECB5;
    margin-top: 40px;
}
.hotdeals >p{
    padding-top: 200px;
    font-size: larger;
}
h3{
    font-size: 20px;
    text-align: center;
}
#deals{
    color: #6BB946;
}
.contacts{
    background-color: #FFD77C;
    padding: 100px;
    display: block;
}
.contacts >p{
    text-align: center;
}
.email{
    border-radius: 25px;
    width: 200px;
    border: none;
}
.button{
    width: 50px;
    padding: 5px;
    text-align: center;
    border-radius: 25px;
    background-color: #6BB946;
    border: none;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#img1{
    margin-bottom: -120px;
    transform: translate(130px, 0px);
}
#img2{
    margin-bottom: -50px;
    transform: translate(110px, -15px);
}
#img3{
    transform: translate( 130px, -40px);
}
#img4{
    transform: translate(200px, 10px);
}
#img5{
    transform: translate(-70px, 220px);
}
#img6{
    transform: translate(70px, 100px);
}
#us{
    color: #6BB946;
}
.dealburger{
    transform: translate(-400px, 250px);
}
.head >#head2{
    color: #6BB946;
    text-align: center;
}